/* @keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    40%, 60% {
        transform: translate3d(0, 50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    color: #222;
    position: relative;
}

.animated-title>div {
    height: 130px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.animated-title>div div {
    font-size: 36px;
    padding: 2vmin 0;
    position: relative;
}

.animated-title>div div span {
    display: block;
}

.animated-title>div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
}

.animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translate(0, 100%);
    padding-top: 0px;
}

.animated-title>div.text-top div span:first-child {
    color: #ff1616;
    padding: 5px;
}

.animated-title>div.text-bottom {
    bottom: 0;
    color: #ff1616;
}

.animated-title>div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
} */