/* .link__layer {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  display: block;
  transform: translate3d(0, -100%, 0);
  animation: anim-out-layer 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
}

.link__layer::before {
  background-color: transparent;
  content: attr(data-text);
  width: 100%;
  display: block;
  transform: translate3d(0, 100%, 0);
  color: #ef0d33;
  animation: anim-out-text 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
} */

.item__bar {
  position: relative;
  display: block;
  margin-top: 5px;
}

.item__bar::before,
.item__bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ef0d33;
  transition: 0.2s ease all;
}

.item__bar::before {
  left: 50%;
}

.item__bar::after {
  right: 50%;
}

.menu_item:hover .link__layer {
  animation: anim-in-layer 0.3s ease forwards;
}

.menu_item:hover .link__layer::before {
  animation: anim-in-text 0.3s ease forwards;
}

.menu_item:hover .item__bar::before {
  width: 50%;
}

.menu_item:hover .item__bar::after {
  width: 50%;
}

.active .item__bar::after {
  width: 50%;
}

.active .item__bar::before {
  width: 50%;
}

@keyframes anim-in-layer {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}

@keyframes anim-out-layer {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes anim-in-text {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}

@keyframes anim-out-text {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
